# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio stuff
*.pdb

build/
linux-build/
web-build/
web-install/
console-install/
src/html/wordle-solver-lib.data
src/html/wordle-solver-lib.js
src/html/wordle-solver-lib.wasm
src/chrome-extension/manifest.json
